@page
@model RenspandWebsite.Pages.Profiles.ProfileSiteModel
<link rel="stylesheet" href="~/css/ProfileStylesheet.css" />
@{
}

<div class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <a class="navbar-brand" href="#">ProfileSite</a>
</div>

<div class="container">
    <form method="post" asp-page-handler="SaveChanges">
        <div class="profile-section mb-4">
            <div class="profile-info mb-3">  
            </div>
            <div class="input-group mb-3">
                <label asp-for="Username" class="form-label"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="input-group mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" disabled />
            </div>
            <div class="input-group mb-3">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
            </div>
            @* <div class="input-group mb-3"> *@
            @*     <label asp-for="Address" class="form-label"></label> *@
            @*     <input asp-for="Address" class="form-control" /> *@
            @* </div> *@
            <button class="btn btn-success">Save Changes</button>
        </div>
    </form>

    <form method="post" asp-page-handler="ChangePassword">
        <div class="password-section">
            <h3>Change Password</h3>
            <div class="password-fields">
                <div class="input-group mb-3">
                    <label asp-for="CurrentPassword" class="form-label"></label>
                    <input asp-for="CurrentPassword" type="password" class="form-control" />
                </div>
                <div class="input-group mb-3">
                    <label asp-for="NewPassword" class="form-label"></label>
                    <input asp-for="NewPassword" type="password" class="form-control" />
                </div>
                <div class="input-group mb-3">
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
    </form>
</div>
