@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Renspand</h1>
    <img src="/Assets/RenSpandLogo.png" alt="RenSpand Logo" width="256px">
</div>
