@page
@model RenspandWebsite.Pages.OrderSystemModel
<link rel="stylesheet" href="~/css/OrdersystemStylesheet.css" />
@{

    ViewData["Title"] = "Order System";

}

<h1>Bestil Skraldespandsrens</h1>

<form method="post">
    <div>
        <label>Navn:</label>
        @* add name bindproperty *@
        <input asp-for="Name" placeholder="Navn" />
    </div>
@*     <div>
        <label>Adresse:</label>
        <input asp-for="Address" type="text" asp-formaction="Order.Address" />
    </div> *@
    <div>
        <label>Telefonnummer:</label>
        <input asp-for="PhoneNumber" placeholder="TelefonNummer"  />
    </div>
    <div>
        <label>Email:</label>
        <input asp-for="Email" placeholder="Email" />
    </div>
    <div>
        <label>Vej:</label>
        <input asp-for="Street" placeholder="Vej Navn" />
    </div>
    <div>
        <label>By:</label>
        <input asp-for="City" placeholder="By" />
    </div>
    <div>
        <label>Postnummer:</label>
        <input asp-for="ZipCode" placeholder="Postnummer" />
    </div>
    <div>
        <label>Produkt</label>
        <select asp-for="Work" asp-items="Model.WorkSelectList" class="form-control">
            <option value="">Vælg produkt</option>
        </select>
    </div>
    <div>




        <label>Skraldespandstype:</label>
        <select asp-formaction="Order.TrashCanType">
            <option value="Type1">2 Hjul</option>
            <option value="Type2">4 Hjul</option>
        </select>
    </div>
    <div>
        <label>Antal af skraldespande</label>
        <input asp-for="WorkAmount" placeholder="Antal af skraldespande" />
    </div>

    <div>
        <label for="date">Vælg dato:</label>
        <input asp-for="DateStart" type="date" class="form-control" />
    </div>

    <p>Valgt dato: @Model.DateStart.ToShortDateString()</p>

    <div>
        <label for="date">Vælg dato for din skraldespand bliver tømt:</label>
        <input asp-for="TrashCanEmptyDate" type="date" class="form-control" />
    </div>

    <p>Valgt dato: @Model.TrashCanEmptyDate.ToShortDateString()</p>



    
    
    
    <button type="submit">Bestil</button>

</form>

    @if (Model.OrderSubmitted)
{
    <div>
        <h2>Ordrebekræftelse</h2>
        <p>Tak for din bestilling</p>
        <p>Vi vil kontakte dig på dit nummer for at bekræfte detaljerne.</p>
    </div>
}