body {
    /* 
        der er blevet skrevet vores skrift type ind 
        og farverne til vores hjemmeside
    */
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
    color: #3f3f3f;
}

header {
    background-color: #32736D;
    color: white
}

footer {
    /* farve til foooter */
    background-color: #32736D;
    position: relative;
}

.BottonBackgroundColor {
    /* farve til knapper */
    background-color: #50808E;
    color: white;
}

.CardHeaderColor {
    /* farve til header i card */
    background-color: #4F977A;
    color: white;
}

.ColorCream {
    /* farve */
    background-color: #F3F0E8;
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.custom-card {
    border: 2px solid #000;
    border-radius: 12px;
    transition: all 0.2s ease-in-out;
    background-color: #fff;
}

.hover-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}

.status-pending {
    background-color: #fff3cd;
}

.status-accepted {
    background-color: #d4edda;
}

.status-rejected {
    background-color: #f8d7da;
}

textarea.form-control {
    resize: vertical;
}

.custom-navbar {
    background-color: #32736D !important;
    color: white !important;
}