@page
@model RenspandWebsite.Pages.OrderHandling.FinalizeOrderModel

<h1>Finalize Your Order</h1>

<form method="post">
    @foreach (var work in Model.SelectedWorks)
    {
        <div>
            <h3>@work.Name</h3>
            <p>@work.Description</p>
            <p>Price: @work.Price kr.</p>
            <label for="workAmount_@work.Id">Amount for @work.Name:</label>
            <input type="number" id="workAmount_@work.Id" name="WorkAndAmount[@work.Id][1]" min="1" value="1" />
        </div>
    }
    <div class="form-group mt-4">
        <label for="customerNote">Ekstra noter til Order (Optional):</label>
        <textarea id="customernote"
            name="CustomerNote"
            class="form-control"
            rows="4"
            placeholder="Ekstra noter til din ordre (f.eks. specielle ønsker, ændringer osv.)">
        </textarea>

    </div>

    <button type="submit">Complete Order</button>
</form>
