@page
@model RenspandWebsite.Pages.OrderHandling.OrderConfirmationPageModel
@{
}


<div>
    <h2>Ordrebekræftelse</h2>
    <p>Tak for din bestilling</p>
    <p>Vi vil kontakte dig på dit nummer for at bekræfte detaljerne.</p>
</div>